<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.uda.repository.MemberMapperRepository">
    <select id="getUserList" resultType="com.project.uda.entity.Member">
        SELECT
             ID
            ,CREATED_DATE_TIME
            ,NICKNAME
            ,PASSWORD
            ,PHONE
            ,ROLE
            ,UPDATED_DATE_TIME
            ,USER_ID
            ,COUPLE_ID
        FROM diary.member
        WHERE 1=1
        <if test="userId != null and userId != ''">
            AND user_id = #{userId}
        </if>
    </select>
</mapper>